.aboutme {
    font-family: 'tradegothiclt-bold', sans-serif;

    h1 {
        font-size: 5em;
        color: $textDark;
        text-transform: uppercase;
    }

    span {
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite;
    }

    @keyframes caret {
        50% {
            border-color: transparent;
        }
    }
}