@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

//Font Variables
$mainFont: 'Montserrat', sans-serif;

//Fonts weight's
$light: 300;
$regular : 400;
$bold: 700;
$black: 900;