.aboutme {
    background-image: url('/build/img/aboutme__bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

    &__inner {
        padding: $paddingContent;
        color: $textDark;

        @include phone {
            h4 {
                font-size: 2.5rem;

                
            }

            h1 {
                font-size: 4rem;
                line-height: 1.2;
                padding-bottom: 1.5rem;
            }

            h3 {
                font-size: 3rem;
                line-height: 1.2;
            }

            h1,
            h3,
            h4 {
                font-weight: $bold;
                text-align: center;
            }
        }


        @include tablet {

            h4 {
                font-size: 3.5rem;
                padding-bottom: 2rem;
            }

            h1 {
                font-size: 10rem;
                line-height: 1;
                padding: $paddingContent;
            }

            h3 {
                font-size: 4rem;
                line-height: 1;
            }

            h1,
            h3,
            h4 {
                font-weight: $bold;
                text-align: center;
            }
        }
    }
}