.aside {
    flex: 0;
    text-align: center;
    padding: $paddingContent;
    background-color: $textDark;
    color: $textLight;
    box-shadow: 0px 0px 20px 0px $textDark;
    -webkit-box-shadow: 0px 0px 20px 0px $textDark;
    z-index: 1;

    img {
        border: 5px solid $textDark;
        border-radius: 100%;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    h6 {
        font-family: $mainFont;
        font-weight: $regular;
        line-height: 4rem;
        padding: 2rem 0rem 1rem;
    }


    &__rrss {
        i {
            font-size: 3rem;
            margin: 0 0.5rem;
            color: $textLight;
        }
    }

    &__menu {
        display: none;
        padding: 3rem;

        a {
            line-height: 4rem;
            font-size: 2rem;
            color: $textLight;
        }

        @include tablet {
            display: grid;
        }
    }

    @include desktop {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 90%;
        }
    }
}