.contact {
    background-color: #141B25;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23050910' fill-opacity='0.2' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");

    &__inner {
        padding: $paddingContent;
        color: $textDark;

        h4 {
            text-align: center;
            font-weight: bold;
            color: $textLight;
        }

        .box {
            padding-top: 5rem;
        }

        .form {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            justify-content: center;
            color: $textDarkness;
            background-color: #fafafa;
            margin: 0 auto;
            border-radius: 2rem;
            -webkit-box-shadow: inset 2px 2px 10px -3px rgba(20, 27, 37, 0.5);
            box-shadow: inset 2px 2px 10px -3px rgba(20, 27, 37, 0.5);
            padding: 3rem;

            &__label {
                margin-bottom: 0.5rem;
            }

            &__input {
                margin-bottom: 2rem;
                border: 0;
                -webkit-box-shadow: inset 2px 2px 3px -3px rgba(20, 27, 37, 0.5);
                box-shadow: inset 2px 2px 3px -3px rgba(20, 27, 37, 0.5);
                padding: 1.3rem 0.5rem;
                outline: none;
                font-size: 1.5rem;
            }

            &__textarea,
            &__textarea:focus-visible {
                border: 0;
                -webkit-box-shadow: inset 2px 2px 3px -3px rgba(20, 27, 37, 0.5);
                box-shadow: inset 2px 2px 3px -3px rgba(20, 27, 37, 0.5);
                padding: 1rem 0.5rem;
                outline: none;
                font-size: 1.5rem;
            }

            input[type=button],
            input[type=submit],
            input[type=reset] {
                background-color: $textDark;
                width: 60%;
                border: none;
                color: $textLight;
                padding: 1rem;
                text-decoration: none;
                margin: 2rem auto;
                cursor: pointer;
            }
        }

    }

}