.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}