.works {
    background-image: url(/build/img/works__bg.webp);

    &__inner {
        padding: $paddingContent;
        color: $textDark;

        h4 {
            text-align: center;
            font-weight: bold;
        }
    }

    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: $paddingContent;

        &__inner {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 475px;
            margin: 2rem 0;
            background-image: url("/build/img/works__inner--bg.webp");
            color: $textLight;
            padding: 4rem 2rem 3rem;
            text-align: center;
            border-radius: 2rem;

            @include tablet {
                margin: 2rem;
                padding: $paddingContent;
            }

            h5 {
                padding: 3rem 0 1rem;
            }

            img {
                width: 60%;
                margin: 0 auto;
                filter: invert(0);
            }

            .invert {
                filter: invert(1);
            }
        }
    }
}